.content {
  overflow: hidden;
  height: auto;
  padding: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
}

.blue {
  color: #b4e3f1;
}
.green {
  color: #a9d6c9;
}
.yellow {
  color: #f7e8ba;
}
.purple {
  color: #d7b6f5;
}
.red {
  color: #eea0a0;
}

.gray {
  color: gray;
}
