<main>
  <mat-card>
    <img matCardImage src="/assets/eve.jpeg" />
    <mat-card-header>
      <mat-card-title>Eve Ying</mat-card-title>
      <mat-card-subtitle
        >A computer Science graduate student in UMass -
        Amherst.</mat-card-subtitle
      >
    </mat-card-header>
  </mat-card>
  <div>
    <a href="https://www.linkedin.com/in/zhihan-ying/">
      <button mat-raised-button>
        <img src="/assets/linkedin.svg" /> LinkedIn
      </button>
    </a>
    <a href="https://github.com/EveYing">
      <button mat-raised-button><img src="/assets/github.svg" /> Github</button>
    </a>
  </div>
</main>
